@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.toolbar {
  background-color: #4b0082;
  border-radius: 5px;
  color: white;
}

.toolbar-spacer {
  flex: 1 1 auto;
}
